<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="plus.adaptive.qaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.qaapp"
        android:usesCleartextTraffic="true">

        <activity android:name="plus.adaptive.qaapp.ui.activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="plus.adaptive.qaapp.ui.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <service
            android:name="plus.adaptive.qaapp.core.APFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--            android:name="apBaseApiUrl"-->
<!--            android:value="http://test.adaptive.plus:3000"-->
<!--            />-->
<!--        <meta-data-->
<!--            android:name="apChannelSecret"-->
<!--            android:value="uHMYZLfGaEFPyynhwJyzAHyfjXUlrGhblTtxWduqtCDMLxiDHIMGFpXzpLGIehps"-->
<!--            />-->
    </application>

</manifest>